@media (max-width: 574px) {
   * {
      font-size: 5vw;
   }

   h1 {
      font-size: 8vw;
   }

   h2 {
      font-size: 6.5vw;
   }

   .header__item {
      font-size: 4.8vw;
   }

   .header__item.logo {
      font-size: 6.5vw;
   }

   .about__first-content {
      width: 90vw;
      grid-template: unset;
      gap: 5vh;
   }

   .about__first-item {
      padding: .2vh 0 .2vh 3vw;
   }

   .about__first-item,
   .about__first-item a {
      font-size: 5vw;
   }

   .gallery__container {
      width: 90vw;
      display: flex;
      flex-direction: column;
      gap: 5vh;
   }

   .gallery__column:last-child {
      margin: 0;
   }

   .services__container {
      width: 90vw;
      display: flex;
      flex-direction: column;
      gap: 5vh;
   }

   .services__text {
      width: 100%;
   }

   .feedback__form {
      width: 90vw;
   }

   .feedback__form-inputs {
      grid-template: unset;
   }

   .footer {
      flex-direction: column-reverse;
      gap: 5vh;
   }

   .footer__copy {
      align-items: start;
   }

   .footer__copy p,
   .footer__copy a {
      font-size: 5vw;
   }
}